body {
	background-color: darkblue;
}

#stage
{
	width: 640px;
	height: 640px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
}

#timer
{
	justify-content: center;
	color: yellow;
}
#Collision
{
	color: yellow;
}
#test
{
	color: yellow;
}
